h1 {
    color: rgb(241, 241, 241);
    font-size: xx-large;
    background-color: rgb(22, 21, 21);
    text-align: center;
    border-radius: 100px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    background-image: url(space.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5%;
}

#basicstructure {
    color: rgb(0, 0, 0);
}

#container {
    background-color: rgba(173, 216, 230, 0.459);
    padding: 75px;
    border-radius: 50px;
}

.center {
    margin-top: 50px;
    scroll-margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
    border-radius: 20px;
}
.button {
    text-decoration: none;
    background-color: rgb(10, 163, 156);
    padding: 20px;
    margin-left: 42.5%;
    margin-right: 42.5%;
    border-radius: 15px;
}

.button:hover {
    background-color: rgb(139, 208, 211);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color:black;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li a:hover {
    background-color: rgb(59, 57, 57);
}

p {
    font-size: 1.2em;
}
